<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <title>DjShop|{% block title %} {% endblock title %}</title>
  </head>
  <body>
    <section>
      <nav class="navbar navbar-expand-lg navbar-dark bra">
        <a class="navbar-brand" href="/shop">DjShop</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/shop"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shop/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shop/tracker">Track Product</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/shop/contact">
              <i class="fa fa-telegram"></i>
                 Contact Us
              </a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2 rounded-pill"
              type="search"
              placeholder="Search.."
              aria-label="Search"
            />
          </form>
          <button type="button" class="btn btn-primary btn-lg" id="popcart" data-toggle="popover"  data-placement="bottom">
          <i class="fa fa-shopping-cart text-warning"></i>
           Cart
            <span
              class="bg-danger text-light rounded-pill px-2 shadow-lg"
              id="cart">
            </span>
          </button>
        </div>
      </nav>
    </section>
    {% block body %} {% endblock body %}

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/static/js/index.js"></script>
{% comment %} <script>
$(document).ready(function(){
    $("#popcart").popover({
        title: '<h3 class="text-success"><i class="fa fa-info-circle"></i> Popover Info</h3>',
        content: '<p>This is a <em>simple example</em> demonstrating how to insert HTML code inside <mark><strong>Bootstrap popover</strong></mark>.</p>',
        html: true
    }); 
});
</script> {% endcomment %}
    {% block js %} 
    
    {% endblock js %}
</html>
