{% extends 'shop/basic.html' %} 
{% block title %}
 Buy this Product- Djshop 
 {%endblock title %} 
 {% block body %}
<div class="container">
  <div class="col">
    <h3 class="my-4">Step-1 DjShop Quick Checkout | Review The cart Items</h3>
    <div id="items">
      <ul class="list-group">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          Cras justo odio
          <span class="badge badge-success badge-pill">14</span>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          Dapibus ac facilisis in
          <span class="badge badge-success badge-pill">2</span>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          Morbi leo risus
          <span class="badge badge-success badge-pill">1</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col">
    <h4 class="my-4">Step2| Enter Required Details:</h4>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card shadow-lg loi mx-5">
          <div class="card-header shadow">
            <h1 class="text-center">Checkout-</h1>
          </div>
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4" class="text-danger"><i class="fa fa-address-card"></i> Address-1</label>
                  <input
                    type="text"
                    class="form-control rounded-pill"
                    id="inputEmail4"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4" class="text-danger"><i class="fa fa-address-book"></i> Address-2</label>
                  <input
                    type="text"
                    class="form-control rounded-pill"
                    id="inputPassword4"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress" class="text-danger"><i class="fa fa-user-circle"></i> Name</label>
                <input
                  type="text"
                  class="form-control rounded-pill"
                  id="inputAddress"
                  placeholder="1234 Main St"
                />
              </div>
              <div class="form-group">
                <label for="inputAddress2" class="text-danger"><i class="fa fa-envelope"></i> Email</label>
                <input
                  type="text"
                  class="form-control rounded-pill"
                  id="inputAddress2"
                  placeholder="Apartment, studio, or floor"
                />
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity" class="text-danger"><i class="fa fa-road"></i> City</label>
                  <input
                    type="text"
                    class="form-control rounded-pill"
                    id="inputCity"
                  />
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState" class="text-danger"><i class="fa fa-map"></i> State</label>
                  <select id="inputState" class="form-control rounded-pill">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip" class="text-danger"><i class="fa fa-fax"></i> Zip</label>
                  <input
                    type="text"
                    class="form-control rounded-pill"
                    id="inputZip"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input
                    class="form-check-input rounded-pill"
                    type="checkbox"
                    id="gridCheck"
                  />
                  <label class="form-check-label" for="gridCheck">
                    Check me out
                  </label>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-primary text-white rounded-pill shadow btn-lg btn-block btn-outline-success"
              >
                <i class="fa fa-credit-card"></i> CheckOut
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% block js %} 
{% endblock js %} 
{% endblock body %}
