{% extends 'shop/basic.html' %} 
{% block title %} 
Buy this Product- Djshop
{%endblock title %} 
{% block body %}
<div class="container">
  <div class="col">
    <h3 class="my-4">
      <u>Step-1 DjShop Quick Checkout | Review The cart Items</u>
    </h3>
    <div class="my-4">
      <ul class="list-group shadow" id="items">
      </ul>
      <span id="totalPrice"></span>
    </div>
  </div>
  <div class="col">
    <h2 class="my-4"><u>Step2| Enter Required Details:</u></h2>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card shadow-lg loi mx-5">
          <div class="card-header shadow">
            <h1 class="text-center">Checkout-</h1>
          </div>
          <div class="card-body">
            <form method="post" action="/shop/checkout/">
              {% csrf_token %}
              <input type="hidden" name="itemsJson" id="itemsJson">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputAddress" class="text-danger"
                    ><i class="fa fa-address-card"></i> Address-1</label
                  >
                  <input
                    type="text"
                    class="form-control rounded-pill shadow"
                    id="address"
                    placeholder="North KORea.."
                    name="address"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputAddress2" class="text-danger"
                    ><i class="fa fa-address-book"></i> Address-2</label
                  >
                  <input
                    type="text"
                    class="form-control rounded-pill shadow"
                    id="address2"
                    placeholder="25 Road, Arizona City..."
                    name="address2"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="inputName" class="text-danger"
                  ><i class="fa fa-user-circle"></i> Name</label
                >
                <input
                  type="text"
                  class="form-control rounded-pill shadow"
                  id="name"
                  placeholder="Enter Name..."
                  name="name"
                />
              </div>
              <div class="form-group">
                <label for="inputEmail" class="text-danger"
                  ><i class="fa fa-envelope"></i> Email</label
                >
                <input
                  type="email"
                  class="form-control rounded-pill shadow"
                  id="email"
                  placeholder="Enter Email..."
                  name="email"
                />
              </div>
              <div class="form-group">
                <label for="inputPhone" class="text-danger"
                  ><i class="fa fa-envelope"></i> Phone</label
                >
                <input
                  type="number"
                  class="form-control rounded-pill shadow"
                  id="phone"
                  placeholder="Phone No..."
                  name="phone"
                />
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity" class="text-danger"
                    ><i class="fa fa-road"></i> City</label
                  >
                  <input
                    type="text"
                    class="form-control rounded-pill shadow"
                    id="city"
                    placeholder="Enter City..."
                    name="city"
                  />
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState" class="text-danger"
                    ><i class="fa fa-map"></i> State</label
                  >
                  <input
                    type="text"
                    class="form-control rounded-pill shadow"
                    id="state"
                    placeholder="Enter State..."
                    name="state"
                  />
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip" class="text-danger"
                    ><i class="fa fa-fax"></i> Zip</label
                  >
                  <input
                    type="number"
                    class="form-control rounded-pill shadow"
                    id="zip_code"
                    placeholder="Zip..."
                    name="zip_code"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input
                    class="form-check-input rounded-pill"
                    type="checkbox"
                    id="gridCheck"
                  />
                  <label class="form-check-label" for="gridCheck">
                    Check me out
                  </label>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-primary text-white rounded-pill shadow btn-lg btn-block btn-outline-success"
              >
                <i class="fa fa-credit-card"></i> CheckOut
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% block js %}
<script>
  if (localStorage.getItem("cart") == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem("cart"));
  }
  console.log(cart);
  var sum = 0;
  var totalPrice = 0;
  if ($.isEmptyObject(cart)){
    //if object is empty
    mystr = '<h3 class="text-danger">Your cart Is empty, Add some items in your cart before checkout</h3>'
    $('#items').append(mystr);
  }else{
   for(item in cart){
     let name = cart[item][1];
     let qty = cart[item][0];
     let itemPrice = cart[item][2];
     sum = sum + qty;
     totalPrice = totalPrice + qty* itemPrice
     mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
       ${name}
          <span class="badge badge-success badge-pill">${qty}</span>
     </li>`

     $('#items').append(mystr);
   }
  }

  document.getElementById('cart').innerHTML = sum;
  document.getElementById('totalPrice').innerHTML = totalPrice;
  $('#itemsJson').val(JSON.stringify(cart));
  {% if thank %}
  alert('Thanks for ordering. Your order ID: {{id}}. Use it to track your Order by Tracker');
  localStorage.clear();
  document.location ="/shop"
  {% endif %}
</script>
{% endblock js %} 
{% endblock body %}
