{% extends 'shop/basic.html' %}

{% block title %}
Contact us- If any problem
{% endblock title %}

{% block body %}
 {% comment %} <section class="cont">
<img src="/static/img/bookbg.jpg" alt="code" class="contect-img">
</section> {% endcomment %}
<section>
<div class="contact-form"> 

    <div class="row justify-content-center">
        <div class="col-md-8">
             <div class="card shadow-lg loi mx-5">
                 <div class="card-header shadow">
                      <h1 class="text-center">Contact Us-</h1>
                     </div>
                 <div class="card-body">
                     <form class="form-group row justify-content-center" method="post" action="/shop/contact/">
                        {% csrf_token %} 
                        <div class="col-md-8 mt-4">
                             <input type="text" id="name" name="name" class="form-control rounded-pill shadow" placeholder="Enter Name...">
                        </div>

                        <div class="col-md-8 mt-4">
                             <input type="email" id="email" name="email" class="form-control rounded-pill shadow" placeholder="Enter Email...">
                        </div>

                        <div class="col-md-8 mt-4">
                              <input type="phone" id="phone" name="phone" class="form-control rounded-pill shadow" placeholder="Enter Phone No...">
                       </div>

                       <div class="col-md-8 mt-4">
                            <textarea name="message" id="message" class="form-control rounded-left shadow" rows="5" placeholder="Enter The message"></textarea>
                       </div>
                       <div class="col-md-8 mt-4">
                       <button class="btn btn-warning rounded-pill shadow" type="submit" id="myBtn">Submit</button>
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}